.App {
  text-align: center;
}

.palette-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-cell {
  height: 150px;
  width: 150px;
}

.palettes-list {
  max-width: 50vw;
  list-style: none;
  border: 1px solid red;
}

.palettes-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

.palette-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-grid {
  display: flex;
}

.preview-grid__cell {
  height: 60px;
  width: 60px;
}

/* DETAILS */
.details-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-list-item__color-preview {
  height: 150px;
  width: 150px;
}
