@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link {
  font-family: "Lobster", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.link {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  padding: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* NAVBAR */
.navbar {
  height: 60px;
  width: 100%;
  max-width: 768px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.navbar .navbar-list {
  height: 100%;
  width: 100%;
  max-width: 425px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .navbar-list-item {
  height: 40px;
}
.navbar .navbar-list-item__link {
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}
.navbar .navbar-list-item__link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* PALETTE GENERATOR */
.palette-generator {
  height: 100%;
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.palette-generator .palette-form {
  height: 60px;
  width: 100%;
  padding: 0 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.palette-generator .palette-form__input {
  height: 35px;
  width: 100%;
  max-width: 425px;
  padding-left: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
}
.palette-generator .palette-form .save-btn {
  height: 35px;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
}
.palette-generator .palette-grid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.palette-generator .color-cell {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.palette-generator .color-cell .toggle-locked-btn {
  padding: 0.25rem 0.5rem;
  margin-left: 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
}
.palette-generator .color-cell .info-container {
  height: 100%;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.palette-generator .color-cell .info-container__name {
  font-size: 1rem;
}
.palette-generator .color-cell .info-container__hex {
  font-weight: 600;
  text-transform: uppercase;
}
.palette-generator .generator-btn-container {
  height: 100%;
  max-height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.palette-generator .generator-btn-container .generate-btn {
  height: 45px;
  border: 2px solid black;
  border-radius: 5px;
}

/* PALETTES LIST */
.palettes-page {
  overflow-y: scroll;
}

.palettes-list {
  height: 100%;
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.palettes-list__item {
  min-height: 125px;
  height: 125px;
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.palettes-list .palette-info-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.palettes-list .palette-info-container__name {
  margin-bottom: 0.5rem;
}
.palettes-list .palette-preview-link {
  height: 100%;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.1s ease;
}
.palettes-list .palette-preview-link:hover {
  transform: scale(1.025);
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.palettes-list .palette-preview-link .palette-preview {
  height: 100%;
  width: 100%;
}
.palettes-list .palette-preview-link .palette-preview .preview-grid {
  height: 100%;
  display: flex;
}
.palettes-list .palette-preview-link .palette-preview .preview-grid__cell {
  width: 100%;
}

/* PALETTE DETAIL */
.palettte-details-page {
  overflow-y: scroll;
}

.palette-details-title {
  margin-bottom: 0.5rem;
}

.details-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.details-list .details-list-item {
  height: 100%;
  min-height: 125px;
  max-height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-list .details-list-item__info {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.details-list .details-list-item__info .color-name {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.details-list .details-list-item__color-preview {
  height: 100%;
  width: 60%;
}/*# sourceMappingURL=App.css.map */