.palette-generator {
  /* width: 100%; */

  .generate-btn {
    height: 2rem;
    padding: 0 0.5rem;

    border: 1px solid black;
  }
}

.palette-form {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    height: 2rem;
    width: 50%;
    max-width: 425px;
    padding-left: 0.5rem;

    border: 1px solid black;
    border-radius: 5px;
  }

  .save-btn {
    height: 2rem;
    padding: 0 0.5rem;
    margin-left: 0.5rem;

    border: 1px solid black;
  }
}

.palette-grid {
  /* height: 100%;
  width: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid red;
}

.color-cell {
  height: 100px;
  width: 100%;
}
